.form {
  label,
  input,
  textarea {
    display: block;
  }

  label {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background: var(--dark-color);
  }
}
